:root {
  /* Colors */
  --background-color-2: hsl(0, 0%, 98%);
  --btn: hsl(213, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 100%, 46%);
  --color: hsl(0, 0%, 0%);
  --border: hsl(0, 2%, 90%);
  --box-shadow: hsl(0deg 0% 79.53%);
  --box-shadow-hover: hsl(0deg 0% 51.97%);

  /* Border Radius */
  --border-radius-circle: 4rem;
  --border-radius-square: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  color: var(--color);
}

body {
  min-height: 100vh;
}
